
img{
	max-width: 100%;
}


.image{
	padding: 0em;
	background-color: white;
	text-align: center;
}


.aboutusbannertext{
	/*
	transform: translate(0%, -450%);
	*/
	transform: translate(0%, -630%);
}

#aboutusbanner{
	width: 1920px;
}

.content p{
	font-weight: normal;
	font-family: arial;
}

.content{
	margin-top: -1rem;
	margin-left: 17rem;
	margin-right: 17rem;
	margin-bottom: 5em;
}

#philosophy{
	padding-bottom: 2em;
}


/*---- RESPONSIVE STUFF ----*/

@media (max-width: 1440px){
	.aboutusbannertext{
		transform: translate(0%, -300%);
	}

	.content{
		margin-top: -1.75em;
		margin-right: 13rem;
		margin-left: 13rem;
		margin-bottom: 4em;
	}
}

@media (max-width: 1024px){
	.aboutusbannertext{
		transform: translate(0%, -375%);
	}

	.content{
		margin-top: -1.75em;
		margin-right: 9rem;
		margin-left: 9rem;
		margin-bottom: -4.5em;
	}
}


@media (max-width: 768px){
	.aboutusbannertext{
		transform: translate(0%, -325%);
	}

	.content{
		margin-top: -1.75em;
		margin-right: 7rem;
		margin-left: 7rem;
		margin-bottom: 4.75em;
	}
}

@media (max-width: 425px){
	.aboutusbannertext{
		transform: translate(0%, -240%);
	}

	.content{
		margin-top: -1.75em;
		margin-right: 4.5rem;
		margin-left: 4.5rem;
		margin-bottom: 4em;
	}
}

@media (max-width: 375px) {
	.aboutusbannertext{
		transform: translate(0%, -225%);
	}

	.content{
		margin-top: -1.7em;
		margin-left: 4rem;
		margin-right: 5rem;
		margin-bottom: 3.5em;
	}
}

@media (max-width: 320px) {
	.aboutusbannertext{
		transform: translate(0%, -205%);
	}

	.content{
		margin-top: -1.75em;
		margin-left: 3rem;
		margin-right: 3rem;
		margin-bottom: 3.5em;
	}
}