.image{
/*background-color: rgba(255,204, 153, .9);*/
text-align: center;
}

.aboutusbannertext{
	transform: translate(0%, -450%);
}

#aboutusbanner{
	max-width:100%;
}

.content p{
  font-weight: normal;
  font-family: arial;
}

.content{
	 margin-left: 3.5rem;
  	 margin-right: 3.5rem;
  	 padding-bottom: 5em;
}

#philosophy{
	padding-bottom: 2em;
}


/*---- RESPONSIVE STUFF ----*/

@media (max-width: 66em){
	.aboutusbannertext{
		transform: translate(0%, -350%);
	}
}

@media (max-width: 50em){
	.aboutusbannertext{
		transform: translate(0%, -300%);
	}
}

@media (max-width: 42em) {
	.aboutusbannertext{
		transform: translate(0%, -275%);
	}
}

@media (max-width: 36em) {
	.aboutusbannertext{
		transform: translate(0%, -250%);
	}
}