 *, *::before, *::after{
    box-sizing: border-box;
  }

  /* Styling for Text Input Field */
  #fname{
    display: block;
    width: 30%; 
    padding: 5px;
  }

  #lname{
    display: block;
    width: 30%; 
    padding: 5px;
  }

  #eaddress{
    display: block;
    width: 80%; 
    padding: 5px;
  }
  
  #aline1{
    display: block;
    width: 80%; 
    padding: 5px;
  }

  #aline2{
    display: block;
    width: 80%; 
    padding: 5px;
  }

  #city{
    display: block;
    width: 20%; 
    padding: 5px;
  }

  #pcode{
    display: block;
    width: 20%; 
    padding: 5px;
  }

  #country{
    display: block;
    width: 20%; 
    padding: 5px;
  }

  #cnumber{
    display: block;
    width: 80%; 
    padding: 5px;
  }
 
  #edate{
    display: block;
    width: 30%; 
    padding: 5px;
  }

  #cvv{
    display: block;
    width: 30%; 
    padding: 5px;
    }

.contact_information{
	flex-direction: row;
	display: flex;
	flex-wrap: row;
}

#grid-item {
	flex: 33.33%;
	margin-left: 1.3em;
	padding: 1em 0em;
}

  /* Styling for Confirm Button */
  .button{
    display: inline-block;
    padding: .8em 1.2em;
    color: black;
    background-color: rgb(247, 229, 228);
    text-decoration: none;
    -webkit-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
    letter-spacing: .1em;
    border: none;
    font-family: Arial;
    font-size: .9rem;
    margin-top: 2em;
    }

  .button:hover, .button:active, .button:focus{
    color: white;
    background-color: rgb(236, 190, 189);
    text-decoration: none;
  }

  .content{
  	 margin-left: 5rem;
  	 margin-right: 5rem;
  }
