.checkout_grid{
	display: flex;
	flex-direction: column;
}

#checkout_banner{
	flex: 1 1 100%;
	text-align: center;
	border-bottom: 1px solid black;
}

.checkout_label{
	flex-direction: row;
	display: flex;
	text-align: center;
	border-bottom: 2.25px solid lightgray;
}

#checkout_label1{
	/*background-color: blue;*/
	flex: 5 1 20%;
	margin:0em 3em 0em 45.5em;
}

#checkout_label2{
	/*background-color: orange;*/
	flex: 5 1 20%;
	margin:0em 3em 0em 3.2em;
}

#checkout_label3{
	/*background-color: purple;*/
	flex: 5 1 20%;
	margin:0em 5em 0em 2em;
}

.checkout_product{
	display: flex;
	flex-direction: row;
	border-bottom: 1px solid black;
}

#checkout_product1_pic, #checkout_product2_pic {
	/*background-color: red;*/
	flex: 2 1 25%;
	margin-left: 3.5em;
	justify-content: center;
	padding: 1em 0em;
}

.checkout_product_info{
	/*background-color: orange;*/
	flex: 2 1 75%;
	display: flex;
	flex-direction: column;
}

.checkout_product_list_info{
	flex-direction: row;
	display: flex;
	text-align: center;
	/*border: 3px solid green;*/
}

#checkout_product1_name{
	/*margin-left: 3em;*/
	flex: 1 1 100%;
	/*background-color: pink;*/
	margin-left: 4em;
	margin-top: 5em;
}


.checkout_product2_name{
	flex: 1 1 100%;
	/*background-color: pink;*/
	margin-left: 4em;
	margin-top: 4em;
}

.checkout_price{
	/*background-color: purple;*/
	flex: 3 1 33%;
	margin:0em 0em 0em 25.2em;
}

.checkout_number{
	/*background-color: green;*/
	flex: 3 1 33%;
	margin:0em 3em 0em 6.8em;
}

.checkout_total{
	/*background-color: yellow;*/
	flex: 3 1 33%;
	margin-top: 0em;
	margin-left: 3em;
	margin-bottom: 6em;
	margin-right: 5em;
}

.checkout_total_grid{
	display: flex;
	flex-direction: column;
	/*border: 4px solid purple;*/
	margin-left: 60em;
	margin-right: 1.5em;
	text-align: right;
	padding-right: 4.8em;
}

#checkout_button{
	margin-bottom: 2em;
	margin-left: 1.2em;
}

#checkout_line3{
	border-top:1px solid darkgray; 
}

.review_label{
	border-bottom: 1px solid black;
	text-align: center;
}

/* Styling for Confirm Button */
.button{
    display: inline-block;
    padding: .8em 1.2em;
    color: black;
    background-color: rgb(247, 229, 228);
    text-decoration: none;
    -webkit-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
    letter-spacing: .1em;
    border: none;
    font-family: Arial;
    font-size: .9rem;
    margin-top: 2em;
    margin-bottom: 2em;
    }

  .button:hover, .button:active, .button:focus{
    color: white;
    background-color: rgb(236, 190, 189);
    text-decoration: none;
  }

/*---- RESPONSIVE STUFF ----*/

@media (max-width: 75em) {
	#checkout_label1{
		margin-left: 44em;
	}

	#checkout_label2{
		margin-left:2.5em;
	}

	#checkout_label3{
		margin-left: 1.5em;
	}

	.checkout_total_grid{
		margin-left: 57em;
		margin-right: 0em;
	}
}

@media (max-width: 70em) {
	#checkout_label1{
		margin-left: 42.5em;
	}

	#checkout_label2{
		margin-left:2.5em;
	}

	#checkout_label3{
		margin-left: 1.5em;
	}

	.checkout_total_grid{
		margin-left: 53.8em;
		margin-right: 0em;
	}
}

@media (max-width: 62em) {
	#checkout_label1{
		margin-left: 37.5em;
	}

	#checkout_label2{
		margin-left:2.5em;
	}

	#checkout_label3{
		margin-left: 1.5em;
	}

	.checkout_total_grid{
		margin-left: 46.5em;
		margin-right: 0em;
	}
}

@media (max-width: 57em) {
	#checkout_label1{
		margin-left: 26.5em;
	}

	#checkout_label2{
		margin-left:1.7em;
	}

	#checkout_label3{
		margin-left: 1em;
	}

	.checkout_product_info{
		margin-left: 1.2em;
		margin-right: 0em;
		max-width: 58.5%;
	}

	.checkout_product_list_info, #checkout_product1_name, #checkout_product2_name{
		margin-left: 4em;
	}

	.checkout_price{
		flex: 3 1 33%;
		margin:0em 0em 0em 0em;
	}

	.checkout_number{
		flex: 3 1 33%;
		margin:0em 3em 0em 5.5em;
	}

	.checkout_total{
		flex: 3 1 33%;
		margin:0em 5em 6em 2.5em;
	}

	.checkout_total_grid{
		margin-left: 39em;
		margin-right: 0em;
	}
}

@media (max-width: 50em){
	.checkout_total_grid{
		margin-left: 32.5em;
		margin-right: 0em;
	}
}

@media (max-width: 45em) {

	#checkout_label1{
		margin-left: 17.5em;
	}

	#checkout_label2{
		margin-left:1.2em;
	}

	#checkout_label3{
		margin-left: 1em;
	}

	.checkout_product_info{
		margin-left: 1.2em;
		margin-right: 0em;
		max-width: 58.5%;
	}

	#checkout_product1_pic, #checkout_product2_pic{
		/*background-color: red;*/
		margin-left: 3em;
		padding-top: 1.5em;
	} 

	.checkout_product_list_info, #checkout_product1_name, #checkout_product2_name{
		margin-left: 0em;
		/*background-color: blue;*/
	}

	.checkout_price{
		flex: 3 1 33%;
		margin:0em 0em 0em 0em;
	}

	.checkout_number{
		flex: 3 1 33%;
		margin:0em 3em 0em 5.5em;
	}

	.checkout_total{
		flex: 3 1 33%;
		margin:0em 5em 6em 2.5em;
	}

	.checkout_total_grid{
		margin-left: 28.3em;
		margin-right: 0em;
	}

}



@media (max-width: 35em) {

	#checkout_label1{
		margin-left: 14em;
	}

	#checkout_label2{
		margin-left:1em;
	}

	#checkout_label3{
		margin-left: 0.5em;
	}

	.checkout_product_info{
		margin-left: 1.2em;
		margin-right: 0em;
		max-width: 58.5%;
	}

	#checkout_product1_pic, #checkout_product2_pic{
		/*background-color: red;*/
		margin-left: 3em;
		padding-top: 1.5em;
	} 

	.checkout_product_list_info, #checkout_product1_name, #checkout_product2_name{
		margin-left: 0em;
		/*background-color: blue;*/
	}

	.checkout_price{
		flex: 3 1 33%;
		margin:0em 0em 0em 0em;
	}

	.checkout_number{
		flex: 3 1 33%;
		margin:0em 3em 0em 5.5em;
	}

	.checkout_total{
		flex: 3 1 33%;
		margin:0em 5em 6em 2.5em;
	}

	.checkout_total_grid{
		margin-left: 20em;
		margin-right: 0em;
	}

}

@media (max-width: 38em) {

	#checkout_label1{
		margin-left: 12.5em;
	}

	#checkout_label2{
		margin-left: 1.2em;
	}

	#checkout_label3{
		margin-left: 0.8em;
	}

	.checkout_product_info{
		margin-left: 1.2em;
		margin-right: 0em;
		max-width: 58.5%;
	}

	#checkout_product1_pic, #checkout_product2_pic{
		/*background-color: red;*/
		margin-left: 3em;
		padding-top: 1.5em;
	} 

	.checkout_product_list_info, #checkout_product1_name, #checkout_product2_name{
		margin-left: 0em;
		/*background-color: blue;*/
	}

	.checkout_price{
		flex: 3 1 33%;
		margin:0em 0em 0em 0em;
	}

	.checkout_number{
		flex: 3 1 33%;
		margin:0em 3em 0em 5.5em;
	}

	.checkout_total{
		flex: 3 1 33%;
		margin:0em 5em 6em 2.5em;
	}

	.checkout_total_grid{
		margin-left: 23.5em;
		margin-right: 0em;
	}

}

@media (max-width: 39em){
	.checkout_total_grid{
		margin-left: 20em;
		margin-right: 0em;
	}
}
