 *, *::before, *::after{
    box-sizing: border-box;
  }

  /* Styling for Text Input Field */

  /* checkout_information - contact information */
  #fname{
    display: block;
    width: 90%; 
    padding: 5px;
  }

  #lname{
    display: block;
    width: 90%; 
    padding: 5px;
  }

  #eaddress{
    display: block;
    width: 95%; 
    padding: 5px;
  }


 /* checkout_information - shipping address */
  #aline1{
    display: block;
    width: 95%; 
    padding: 5px;
  }

  #aline2{
    display: block;
    width: 95%; 
    padding: 5px;
  }

  #city{
    display: block;
    width: 85%; 
    padding: 5px;
  }

  #pcode{
    display: block;
    width: 85%; 
    padding: 5px;
  }

  #country{
    display: block;
    width: 85%; 
    padding: 5px;
  }

 /* checkout_information - billing information */
   #aline3{
      display: block;
      width: 95%; 
      padding: 5px;
    }

    #aline4{
      display: block;
      width: 95%; 
      padding: 5px;
    }

    #city2{
      display: block;
      width: 85%; 
      padding: 5px;
    }

    #pcode2{
      display: block;
      width: 85%; 
      padding: 5px;
    }

    #country2{
      display: block;
      width: 85%; 
      padding: 5px;
    }

 /* checkout_information - payment information */
  #cnumber{
    display: block;
    width: 95%; 
    padding: 5px;
  }
 
  #edate{
    display: block;
    width: 90%; 
    padding: 5px;
  }

  #cvv{
    display: block;
    width: 90%; 
    padding: 5px;
    }

 /* contact_us - more information */
  #fname2{
    display: block;
    width: 90%; 
    padding: 5px;
  }

  #lname2{
    display: block;
    width: 90%; 
    padding: 5px;
  }

  #eaddress2{
    display: block;
    width: 95%; 
    padding: 5px;
  }

  #inquiry{
    display: block;
    width: 95%; 
    padding: 130px;
  }

 
/* Contact Information in checkout_information */
.grid-container1{
	display: flex;
	justify-content: space-between;
}

.contact_information_item1 {
	padding: 1em 0em;
	flex: 2 1 50%;
}

.grid-container2{
	display: flex;
	justify-content: space-between;
}

#contact_information_item2 {
	padding: 1em 0em;
	flex: 2 1 100%;
}


/* Shipping Address */
.grid-container3{
	display: flex;
	justify-content: space-between;
}

.shipping_address_item1 {
	padding: 1em 0em;
	flex: 2 1 100%;
}

.grid-container4{
	display: flex;
	justify-content: space-between;
}

.shipping_address_item2 {
	padding: 1em 0em;
	flex: 2 1 100%;
}

.grid-container5{
	display: flex;
	justify-content: space-between;
}

.shipping_address_item3 {
	padding: 0em 0em;
	flex: 3 1 33.3%;
}

/* Billing Information */
.grid-container6{
	display: flex;
	justify-content: space-between;
}

 input[type=checkbox]{
 	 margin-top: 1rem;
 	 margin-bottom: 1rem;

 }

 /* Payment Information */
.grid-container7{
	display: flex;
	justify-content: space-between;
}

#payment_information_item1{
	padding: 1em 0em;
	flex: 2 1 100%;
}

.grid-container8{
	display: flex;
	justify-content: space-between;
}

.payment_information_item2{
	padding: 1em 0em;
	flex: 2 1 50%;
}

/* Styling for Confirm Button */
  .button{
    display: inline-block;
    padding: .8em 1.2em;
    color: black;
    background-color: rgb(247, 229, 228);
    text-decoration: none;
    /*
    -webkit-transition: background-color 0.2s ease-out;
    */
    transition: background-color 0.2s ease-out;
    letter-spacing: .1em;
    border: none;
    font-family: Arial;
    font-size: .9rem;
    margin-top: 2em;
    margin-bottom: 2em;
    }

  .button:hover, .button:active, .button:focus{
    color: white;
    background-color: rgb(236, 190, 189);
    text-decoration: none;
  }

  .confirm_button{
  	text-align: right;
    /*
  	margin-right: 3.6em;
    */
    margin-right: 67px;

  }

  .content{
  	 margin-left: 4rem; 
     margin-top: 4rem;
     margin-right: 10px;

  }

  .shipping_address{
    margin-top: 3rem;
  }

  .billing_information{
    margin-top: 3rem;
  }

  .payment_information{
    margin-top: 3rem;
  }

  .email_phone{
     margin-top: -1em;
  	 margin-left: 4rem;
  	 margin-right: 3.5rem;
  	 padding-bottom: 1em;
  }



  /* Styling for contact_us page */

  .image{
	 background-color: rgba(255,204, 153, .9);
	 text-align: center;
    padding: 8em;
  }

  #email{
     padding-bottom: 1.2em;
     padding-top: 0.2em;
  }


/*
  #contact_information_item2{
	  padding: 1em 0em;
 	  flex: 2 1 100%;
  }
*/

  .grid-container9{
	 display: flex;
	 justify-content: space-between;
  }

  #contact_information_item3{
	  padding: 1em 0em;
	  flex: 2 1 100%;
  }

/* Contact Information in contact_us page */
.grid-container11{
  display: flex;
  justify-content: space-between;
}

.contact_information_item4 {
  padding: 1em 0em;
  flex: 2 1 50%;
}

.grid-container12{
  display: flex;
  justify-content: space-between;
}

#contact_information_item5 {
  padding: 1em 0em;
  flex: 2 1 100%;
}



/* Responsive Section */
@media (max-width: 50em) {
  
   .content{
       margin-right: 0rem; 

    }
    

  .grid-container1{
    display:flex;
    flex-direction: column;

  }

  #eaddress{
    display: block;
    width: 90%; 
    padding: 5px;
  }



  .grid-container5{
  display: flex;
  flex-direction: column;
  }

  #aline1{
    display: block;
    width: 90%; 
    padding: 5px;
  }

  #aline2{
    display: block;
    width: 90%; 
    padding: 5px;
    margin-bottom: 1em;
  }


  #city{
    display: block;
    width: 90%; 
    padding: 5px;
    margin-bottom: 2em;
  }

  #pcode{
    display: block;
    width: 90%; 
    padding: 5px;
    margin-bottom: 2em;
  }

  #country{
    display: block;
    width: 90%; 
    padding: 5px;
  }


  #aline3{
    display: block;
    width: 90%; 
    padding: 5px;
  }

  #aline4{
    display: block;
    width: 90%; 
    padding: 5px;
    margin-bottom: 1em;
  }


  #city2{
    display: block;
    width: 90%; 
    padding: 5px;
    margin-bottom: 2em;
  }

  #pcode2{
    display: block;
    width: 90%; 
    padding: 5px;
    margin-bottom: 2em;
  }

  #country2{
    display: block;
    width: 90%; 
    padding: 5px;
  }



  .grid-container8{
  display: flex;
  flex-direction: column;
  }

  #cnumber{
    display: block;
    width: 90%; 
    padding: 5px;
  }
   #edate{
    display: block;
    width: 90%; 
    padding: 5px;
  }

  #cvv{
    display: block;
    width: 90%; 
    padding: 5px;
  }

  .confirm_button{
     text-align: right;
  
    
  }

}

@media (max-width: 70em) {
   .contact_information{
       margin-right: 1rem; 
   }

    .shipping_address{
      margin-right: 1rem; 
    }

    .billing_information{
      margin-right: 1rem; 
    }

   .payment_information{
       margin-right: 1rem; 

    }
}

@media (max-width: 30em) {
   .content{
       margin-right: 1rem; 

    }
}

@media (max-width: 1050px) {
   .confirm_button{
     text-align: right;
     /*
     margin-right: 3em;
     */
     
  }
 
}

@media (max-width: 1024px) {
   .confirm_button{
     text-align: right;
     /*
     margin-right: 3em;
     */
  }
 
}

@media (max-width: 800px) {
   .confirm_button{
     text-align: center;
    
  }
 
}





