h4{
	font-size: 1em;
}

.checkout_grid{
	display: flex;
	flex-direction: column;
}

#checkout_banner{
	flex: 1 1 100%;
	text-align: center;
	border-bottom: 1px solid black;
}

.checkout_label{
	flex-direction: row;
	display: flex;
	text-align: center;
	border-bottom: 2.25px solid lightgray;
}

#checkout_label1{
	/*background-color: blue;*/
	flex: 5 1 20%;
	margin:0em 3em 0em 56.5em;
}

#checkout_label2{
	/*background-color: orange;*/
	flex: 5 1 20%;
	margin:0em 1.5em 0em 1.5em;
}

#checkout_label3{
	/*background-color: purple;*/
	flex: 5 1 20%;
	margin:0em 6em 0em 3.5em;
}

.checkout_product{
	display: flex;
	flex-direction: row;
	border-bottom: 1px solid black;
}

#checkout_product1_pic, #checkout_product2_pic {
	/*background-color: red;*/
	flex: 2 1 25%;
	margin-left: 13.5em;
	justify-content: center;
	padding: 1em 0em;
}

.soapimage{
	width: 100%;
}

.checkout_product_info{
	/*background-color: orange;*/
	flex: 2 1 125%;
	display: flex;
	flex-direction: column;
}

.checkout_product_list_info{
	flex-direction: row;
	display: flex;
	text-align: center;
	/*border: 3px solid green;*/
}

#checkout_product1_name{
	/*margin-left: 3em;*/
	flex: 1 1 100%;
	/*background-color: pink;*/
	margin-left: 4em;
	margin-top: 5em;
}


#checkout_product2_name{
	flex: 1 1 100%;
	/*background-color: pink;*/
	margin-left: 4em;
	margin-top: 5em;
}

.checkout_price{
	/*background-color: purple;*/
	flex: 3 1 33%;
	margin:0em 0em 0em 23.2em;
}

.checkout_number{
	/*background-color: green;*/
	flex: 3 1 33%;
	margin:0em -4em 0em 1em;
}

.checkout_total{
	/*background-color: yellow;*/
	flex: 3 1 33%;
	margin-top: 0em;
	margin-left: 5em;
	margin-bottom: 6em;
	margin-right: 4em;
}

.checkout_total_grid{
	display: flex;
	flex-direction: column;
	/*border: 4px solid purple;*/
	margin-left: 93em;
	text-align: right;
	padding-right: 10.5em;

	/*background-color: orange;*/
}

#checkout_button{
	margin-bottom: 2em;
	margin-left: 1.2em;
}

#checkout_line3{
	border-top:1px solid darkgray; 
}

.review_label{
	border-bottom: 1px solid black;
	text-align: center;
}

@media(max-width: 768px){
	.review_label{
		padding: 0em 4em;
	}
}

@media(max-width: 425px){
	.review_label{
		padding: 0em 2em;
	}
}

/* Styling for Confirm Button */
.button{
	display: inline-block;
	padding: .8em 1.2em;
	color: black;
	background-color: rgb(247, 229, 228);
	text-decoration: none;
	-webkit-transition: background-color 0.2s ease-out;
	transition: background-color 0.2s ease-out;
	letter-spacing: .1em;
	border: none;
	font-family: Arial;
	font-size: .9rem;
	margin-top: 2em;
	margin-bottom: 2em;
}

.button:hover, .button:active, .button:focus{
	color: white;
	background-color: rgb(236, 190, 189);
	text-decoration: none;
}

/*---- RESPONSIVE STUFF ----*/

@media(max-width: 1440px){
	#checkout_product1_pic, #checkout_product2_pic{
		margin-left: 4em;
	}

	.soapimage{
		width: 100%;
	}

	.checkout_total_grid{
		margin-left: 60em;
		padding-right: 5em;
	}

	#checkout_label1{
		margin: 0em 2.25em 0em 43.5em;
	}

	#checkout_label2{
		margin: 0em 1.5em 0em 2.5em;
	}

	#checkout_label3{
		margin: 0em 6em 0em 3.5em;
	}
}

@media(max-width: 1024px){
	#checkout_product1_pic, #checkout_product2_pic{
		margin-left: 3em;
		padding-top: 2em;
	}

	.soapimage{
		width: 100%;
	}
	
	.checkout_total_grid{
		margin-left: 44em;
		padding-right: 4.25em;
	}

	.checkout_price{
		margin: 0em 0em 0em 19em;
	}

	.checkout_number{
		margin: 0em -3em 0em 2em;
	}

	.checkout_total{
		margin-top: 0em;
		margin-left: 5em;
		margin-bottom: 6em;
		margin-right: 2.5em;
	}

	#checkout_label1{
		margin: 0em 3em 0em 34.75em;
	}

	#checkout_label2{
		margin: 0em 1.5em 0em 2.5em;
	}

	#checkout_label3{
		margin: 0em 4.75em 0em 5em;
	}

}


@media(max-width: 768px){
	#checkout_product1_pic, #checkout_product2_pic{
		margin-left: 4em;
		padding-top: 1.5em;
	}

	.soapimage{
		width: 100%;
	}

	#checkout_product1_name, #checkout_product2_name{
		margin-left: 3.25em;
		margin-top: 3em;
	}
	
	.checkout_total_grid{
		margin-left: 28em;
		padding-right: 4.25em;
	}

	.checkout_price{
		margin: 0em 0em 0em -0.5em;
	}

	.checkout_total{
		margin-top: 0em;
		margin-left: 5em;
		margin-bottom: 6em;
		margin-right: 2.5em;
	}

	#checkout_label1{
		margin: 0em 4em 0em 12.75em;
	}

	#checkout_label2{
		margin: 0em 3em 0em 2.5em;
	}

	#checkout_label3{
		margin: 0em 4.5em 0em 3.25em;
	}
}

@media(max-width: 425px){
	.checkout_product_info{
		margin-left: 2.5em;
		margin-right: 0em;
		max-width: 58.5%;
	}

	.soapimage{
		width: 100%;
	}

	.checkout_product{
		margin-top: -1em;
	}

	#checkout_product1_pic, #checkout_product2_pic{
		/*background-color: red;*/
		margin-left: 2em;
		padding-top: 2.75em;
	} 

	#checkout_product1_name, #checkout_product2_name{
		margin-left: 0em;
		margin-top: 3em;
	}

	.checkout_total_grid{
		margin-left: 9em;
		margin-right: 0em;
		padding-right: 1em;
	}

	.checkout_price{
		flex: 3 1 33%;
		margin:0em 0em 0em 0em;
	}

	.checkout_number{
		flex: 3 1 33%;
		margin:0em 4em 0em 4em;
	}

	.checkout_total{
		flex: 3 1 33%;
		margin:0em 0em 6em 0em;
		padding-right: 1em;
	}

	#checkout_label1{
		margin-left: 11em;
	}

	#checkout_label2{
		margin-left: -0.8em;
	}

	#checkout_label3{
		margin-left: -0.4em;
	}

}

@media(max-width:375px){
	.checkout_product_info{
		margin-left: 2em;
		margin-right: 0em;
		max-width: 58.5%;
	}

	.soapimage{
		width: 100%;
	}

	.checkout_product{
		margin-top: -1em;
	}

	#checkout_product1_pic, #checkout_product2_pic{
		/*background-color: red;*/
		margin-left: 1em;
		padding-top: 2.75em;
	} 

	#checkout_product1_name, #checkout_product2_name{
		margin-left: 0.25em;
		margin-top: 3em;
	}

	.checkout_total_grid{
		margin-left: 6em;
		margin-right: 0em;
		padding-right: 1em;
	}

	.checkout_price{
		flex: 3 1 33%;
		margin:0em 0em 0em 0em;
	}

	.checkout_number{
		flex: 3 1 33%;
		margin:0em 2em 0em 2em;
	}

	.checkout_total{
		flex: 3 1 33%;
		margin:0em 0em 6em 0em;
		padding-right: 1em;
	}

	#checkout_label1{
		margin-left: 10em;
	}

	#checkout_label2{
		margin-left: -1.8em;
	}

	#checkout_label3{
		margin-left: -1.2em;
	}

}

@media(max-width:320px){

	.checkout_product_info{
		margin-left: 2em;
		margin-right: 0em;
		max-width: 58.5%;
	}

	.soapimage{
		width: 100%;
	}

	.checkout_product{
		margin-top: -1em;
	}

	#checkout_product1_pic, #checkout_product2_pic{
		/*background-color: red;*/
		margin-left: 1em;
		padding-top: 2.75em;
	} 

	#checkout_product1_name, #checkout_product2_name{
		margin-left: -0.5em;
		margin-top: 3em;
	}

	.checkout_product_info{
		margin-bottom: -1.25em;
	}

	.checkout_total_grid{
		margin-left: 3em;
		margin-right: 0em;
		padding-right: 1em;
	}

	.checkout_price{
		flex: 3 1 33%;
		margin:0em 0em 0em -0.5em;
	}

	.checkout_number{
		flex: 3 1 33%;
		margin:0em 2em 0em 1.5em;
	}

	.checkout_total{
		flex: 3 1 33%;
		margin:0em 0em 6em -0.5em;
		padding-right: 1em;
	}

	#checkout_label1{
		margin-left: 8.75em;
		font-size: 0.9em;
	}

	#checkout_label2{
		margin-left: -2em;
		font-size: 0.9em;

	}

	#checkout_label3{
		margin-left: -1.5em;
		font-size: 0.9em;

	}

}