 *, *::before, *::after{
    box-sizing: border-box;
  }

  /* Styling for Confirm Button */
  .button{
    display: inline-block;
    padding: .8em 1.2em;
    color: black;
    background-color: rgb(247, 229, 228);
    text-decoration: none;
    -webkit-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
    letter-spacing: .1em;
    border: none;
    font-family: Arial;
    font-size: .9rem;
  }

  .button:hover, .button:active, .button:focus{
    color: white;
    background-color: rgb(236, 190, 189);
    text-decoration: none;
  }