#contactusbanner{
	width: 1920px;
	/*
	max-width: 100%;
	*/
}

img{
  max-width: 100%;
}


.contactusbannertext{
	/*
	transform: translate(0, -450%);
	*/
	transform: translate(0%, -630%);
}

.image{
	padding: 0em;
	background-color: white;
}


.contact_content{
  margin-left: 4rem; 
  margin-top: 1rem;
  margin-right: 10px;
}

/*.contact_information2{
	margin-right: 10px;
}

/* contact_us - more information */
#fname2{
  display: block;
  width: 90%; 
  padding: 5px;
}

#lname2{
  display: block;
  width: 90%; 
  padding: 5px;
}

#eaddress2{
  display: block;
  width: 95%; 
  padding: 5px;
}

#inquiry{
  display: block;
  width: 95%; 
  padding: 130px;
}

.email_phone{
 margin-top: -1em;
 margin-left: 4rem;
 margin-right: 3.5rem;
 padding-bottom: 1em;
}

.image{
  text-align: center;
}

#email{
 padding-bottom: 1.2em;
 padding-top: 0.2em;
}

.grid-container9{
  display: flex;
  justify-content: space-between;
}

#contact_information_item3{
 padding: 1em 0em;
 flex: 2 1 100%;
}

/* Contact Information in contact_us page */
.grid-container11{
  display: flex;
  justify-content: space-between;
}

.contact_information_item4 {
  padding: 1em 0em;
  flex: 2 1 50%;
}

.grid-container12{
  display: flex;
  justify-content: space-between;
}

#contact_information_item5 {
  padding: 1em 0em;
  flex: 2 1 100%;
}


/* Styling for Confirm Button */
.button{
  display: inline-block;
  padding: .8em 1.2em;
  color: black;
  background-color: rgb(247, 229, 228);
  text-decoration: none;
    /*
    -webkit-transition: background-color 0.2s ease-out;
    */
    transition: background-color 0.2s ease-out;
    letter-spacing: .1em;
    border: none;
    font-family: Arial;
    font-size: .9rem;
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .button:hover, .button:active, .button:focus{
    color: white;
    background-color: rgb(236, 190, 189);
    text-decoration: none;
  }

  .submit_button{
   text-align: right;

	/*
	margin-right: 102px;
	*/

	margin-right: 5.5%;

}


/*---- RESPONSIVE STUFF ----*/
@media (max-width: 75em){
  .contact_information2{
    margin-right: 15px;
  }

}

@media (max-width: 66em){
 .contactusbannertext{
  transform: translate(0%, -350%);
}

.contact_information2{
  margin-right: 20px;
}

}

@media (max-width: 50em){
  .contactusbannertext{
    transform: translate(0%, -300%);
  }

  .grid-container11{
    display:flex;
    flex-direction: column;

  }

  .contact_information_item4 {
   padding: 1em 0em;
   flex: 2 1 100%;
 }

 #fname2{
   display: block;
   width: 94%;
   padding: 5px;

 }

 #lname2{
   display: block;
   width: 94%;
   padding: 5px;
 }

 #eaddress2{
  display: block;
  width: 94%; 
  padding: 5px;
}

#inquiry{
  display: block;
    /*
    width: 90%; 
    */
    width: 94%; 
    padding: 130px;
  }

}

@media (max-width: 48em) {
 .contact_information2{
  margin-right: 27px;
}
}

@media (max-width: 42em) {
	.contactusbannertext{
		transform: translate(0%, -275%);
	}

	.contact_information2{
		margin-right: 25px;
	}
}

@media (max-width: 36em) {
	.contactusbannertext{
		transform: translate(0%, -250%);
	}

	.email_phone{
		margin-left: 3.2rem;
	}

	.contact_information2{
		margin-right: 25px;
		margin-left: -0.8em;
	}


}


@media (max-width: 1440px) {

  .contactusbannertext{
    transform: translate(0%, -500%);
  }

  .submit_button{
    margin-right:4.3em;

  }

}

@media (max-width: 1200px) {
  .button{
   margin-right: -10px;
 }

}

@media (max-width: 1024px){
  .contactusbannertext{
    transform: translate(0%, -400%);
  }
}

@media(max-width: 768px){
  .contactusbannertext{
    transform: translate(0%, -320%);
  }
}

@media (max-width: 500px) {
  .submit_button{
    text-align: center;
    margin-left: 20px;
  }
}

@media(max-width: 435px){
  .contactusbannertext{
    transform: translate(0%, -235%);
  }
}

@media(max-width: 375px){
  .contactusbannertext{
    transform: translate(0%, -220%);
  }
}

@media (max-width: 320px) {

  .contactusbannertext{
    transform: translate(0%, -210%);
  }

  #inquiry{
    display: block;
    /*
    width: 90%; 
    */
    width: 94%; 
    padding: 100px;
  }

}