#contactusbanner{
	max-width: 100%;
}

.contactusbannertext{
	transform: translate(0, -450%);
}

.image{
	padding: 0em;
	background-color: white;
}

.contact_information2{
	margin-right: 10px;
}

/*
#fname{
	width: 80%;
}

#lname{
	width: 80%;
}

#email{
	padding-top: 0em;
}
*/

.submit_button{
	text-align: right;
	margin-right: 70px;
}


/*---- RESPONSIVE STUFF ----*/



@media (max-width: 50em){
    .contactusbannertext{
		transform: translate(0%, -300%);
	}

	.grid-container11{
    display:flex;
    flex-direction: column;

  	}

	.contact_information_item4 {
	  padding: 1em 0em;
	  flex: 2 1 100%;
	}

	#fname2{
	display: block;
	width: 94%;
	padding: 5px;

	}

	#lname2{
	display: block;
	width: 94%;
	padding: 5px;
	}

    #eaddress2{
    display: block;
    width: 94%; 
    padding: 5px;
    }

    #inquiry{
    display: block;
    /*
    width: 90%; 
    */
     width: 94%; 
    padding: 130px;
    }

    .submit_button{
	text-align: center;
	margin-right: 70px;
    }

}



@media (max-width: 66em){
	.contactusbannertext{
		transform: translate(0%, -350%);
	}
	
/*
	#fname2{
		display: block;
		width: 86%;
	}

	#lname2{
		display: block;
		width: 86%;
	}
	
	

    #eaddress2{
    display: block;
    width: 93%; 
    padding: 5px;
    }
    #inquiry{
    display: block;
    width: 93%; 
    padding: 130px;
    }
    */
}

@media (max-width: 75em){


/*
	#fname2{
		display: block;
		width: 94%;
	}


	#lname2{
		display: block;
		width: 94%;
	}



    #eaddress2{
    display: block;
    width: 94%; 
    padding: 5px;
    }
    #inquiry{
    display: block;
    width: 94%; 
    padding: 130px;
    }
    */

}

@media (max-width: 48em) {
	.contact_information2{
		margin-right: 27px;
	}
}

@media (max-width: 42em) {
	.contactusbannertext{
		transform: translate(0%, -275%);
	}

	.contact_information2{
		margin-right: 25px;
	}
}

@media (max-width: 36em) {
	.contactusbannertext{
		transform: translate(0%, -250%);
	}

	.contact_information2{
		margin-right: 25px;
	}
}