.image{
  /*background-color: rgba(255,204, 153, .9);*/
  text-align: center;
}

img{
  max-width: 100%;
}

#locationbanner{
  width: 1920px;
}

.locationbannertext{
  transform: translate(0%, -780%);
}

.location_grid{
  margin-top: -80px;
}


.content1{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: -0.15em;
}

.location1{
  flex: 2 1 50%;
  max-width: 100%;
}

#shop1pic{
  width: 960px;
}

.address1{
  flex: 2 1 50%;
  text-align: center;
  padding-top: 16em;
  
}


.content2{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: -4px;
}


.location2{
  flex: 2 1 50%;
  max-width: 450%;
}


.address2{
  flex: 2 1 50%;
  text-align: center;
  padding-top: 16em;
  max-width: 100%;
}

#shop2pic{
  width: 960px;
}



#philosophy{
	padding-bottom: 2em;
}



/*---- RESPONSIVE STUFF ----*/

/*@media (max-width: 62em){
  .locationbannertext{
    transform: translate(0%,-425%);
  }
}

@media (max-width: 58em){
  .locationbannertext{
    transform: translate(0%, -400%);
  }
}

@media (max-width: 52em){
  .locationbannertext{
    transform: translate(0%, -400%);
  }
}

@media (max-width: 50em){
  .locationbannertext{
    transform: translate(0%, -350%);
  }
}

@media (max-width: 42em) {
  .locationbannertext{
    transform: translate(0%, -330%);
  }
}

@media (max-width: 36em) {
  .locationbannertext{
    transform: translate(0%, -245%);
  }
}
------------------------------------------------------------*/

@media (max-width: 1440px){
  .locationbannertext{
    transform: translate(0%, -620%);
  }

  .address1{
    padding-top: 11.5em;
  }

  .address2{
    padding-top: 11.5em;
  }
}

@media (max-width: 1024px){
  .locationbannertext{
    transform: translate(0%, -470%);
  }

  .address1{
    padding-top: 7.5em;
  }

  .address2{
    padding-top: 7.5em;
  }

}


@media (max-width: 768px){
  .locationbannertext{
    transform: translate(0%, -385%);
  }

  .content1 .content2{
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
  }

  .location1{
    flex: 1 1 100%;
    order: 2;
  }

  .address1{
    flex: 1 1 100%;
    padding-bottom: 4em;
    order: 2;
    padding-top: 3.75em;

  }

  .location2{
    flex: 1 1 100%;
    order: 1;
  }


  .address2{
    flex: 1 1 100%;
    order: 2;
    padding-bottom: 4em;
    padding-top: 3.75em;
  }

}

@media (max-width: 425px){
  .locationbannertext{
    transform: translate(0%, -263%);
  }
}

@media (max-width: 375px) {
  .locationbannertext{
    transform: translate(0%, -245%);
  }
}

@media (max-width: 320px) {
  .locationbannertext{
    transform: translate(0%, -230%);
  }
}

/*-----------------------*/


@media(max-width: 60em){
  img{
    width: 100%;
  }

  .location1{
    margin-bottom: -.3em;
  }

  .location2{
    margin-bottom: -.3em;
  }
}