.image{
/*background-color: rgba(255,204, 153, .9);*/
text-align: center;
}

#locationbanner{
  max-width: 100%;
}

.locationbannertext{
  transform: translate(0%, -550%);
}

.image1{
background-color: rgb(252, 239, 227);
width: 50%;
}

.image2{
background-color: rgb(252, 239, 227);
width: 50%;
}

.content1 p{
  font-weight: normal;
  font-family: arial;
}

.content1{
	 margin-left: 3.5rem;
  	 margin-right: 3.5rem;
  	 padding-top: 0em;
  	 padding-bottom: 5em;
}

.content2 p{
  font-weight: normal;
  font-family: arial;
}

.content2{
	 margin-left: 3.5rem;
  	 margin-right: 3.5rem;
  	 padding-top: 5em;
  	 padding-bottom: 5em;
}


#philosophy{
	padding-bottom: 2em;
}