.review_checkout_product{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	border-bottom: 1px solid black;
}

#review_checkout_product_pic {
	background-color: red;
	flex: 2 1 25%;
	margin-left: 1.3em;*/
	padding: 1em 0em;
	margin-right: 10em;
}

.review_checkout_product_info{
	border: 3px solid orange;
	flex: 2 1 75%;
	display: flex;
	flex-direction: column;
}

.review_checkout_product_list_info{
	flex-direction: row;
	display: flex;
	text-align: center;
	border: 3px solid green;*/
}

#review_checkout_product1_name{
	/*margin-left: 3em;*/
	flex: 1 1 100%;
	background-color: blue;*/
	margin-left: 4em;
	float: left;
}

#review_checkout_product2_name{
	flex: 1 1 100%;
	background-color: blue;*/
	margin-left: 4em;
}

.review_checkout_price{
	/*background-color: purple;*/
	flex: 3 1 33%;
	margin:0em 0em 0em 25.2em;
}

.review_checkout_number{
	/*background-color: green;*/
	flex: 3 1 33%;
	margin:0em 3em 0em 6.8em;
}

.review_checkout_total{
	/*background-color: yellow;*/
	flex: 3 1 33%;
	margin:0em 5em 6em 3em;
}