h4{
  font-family: Arial, sans-serif;
  font-weight: bold;
}

.shop_all_banner{
	/*padding: 4.5em;*/
	text-align: center;
	font-weight: bold;
	/*background-color: orange;*/
}

.shopbannertext{
	transform: translate(0%, -450%);
}

#shopbanner{
	max-width:100%;
}


.shop_all_grid{
	display: flex;
	flex-direction: column;
}

.shop_all_grid_r1{
	flex: 3 1 100%;
	/*background-color: gray;*/
	display: flex;
	flex-direction: row;
	padding: 1em;
	margin: 0em 3.5em 0em 3.5em;
}


.shop_all_grid_r2{
	flex: 3 1 100%;
	/*background-color: green;*/
	display: flex;
	flex-direction: row;
	padding: 1em;
	margin: 0em 3.5em 0em 3.5em;
}

.shop_all_grid_r3{
	flex: 3 1 100%;
	/*background-color: brown;*/
	display: flex;
	flex-direction: row;
	padding: 1em;
	margin: 0em 3.5em 0em 3.5em;
}


#r1c1{
	/*background-color: pink;*/
	flex: 3 1 33.3%;
	padding: 1em;
	margin: 0em 2em 0em 2em;
	text-align: center;
}

#r1c2{
	/*background-color: orange;*/
	flex: 3 1 33.3%;
	padding: 1em;
	margin: 0em 2em 0em 2em;
	text-align: center;
}

#r1c3{
	/*background-color: purple;*/
	flex: 3 1 33.3%;
	padding: 1em;
	margin: 0em 2em 0em 2em;
	text-align: center;
}

#r2c1{
	/*background-color: orange;*/
	flex: 3 1 33.3%;
	padding: 1em;
	margin: 0em 2em 0em 2em;
	text-align: center;
}

#r2c2{
	/*background-color: purple;*/
	flex: 3 1 33.3%;
	padding: 1em;
	margin: 0em 2em 0em 2em;
	text-align: center;
}

#r2c3{
	/*background-color: pink;*/
	flex: 3 1 33.3%;
	padding: 1em;
	margin: 0em 2em 0em 2em;
	text-align: center;
}

#r3c1{
	/*background-color: purple;*/
	flex: 3 1 33.3%;
	padding: 1em;
	margin: 0em 2em 0em 2em;
	text-align: center;
}

#r3c2{
	/*background-color: pink;*/
	flex: 3 1 33.3%;
	padding: 1em;
	margin: 0em 2em 0em 2em;
	text-align: center;
}

#r3c3{
	/*background-color: orange;*/
	flex: 3 1 33.3%;
	padding: 1em;
	margin: 0em 2em 0em 2em;
	text-align: center;
}

.image_shopgd{
	width: 300px;
	height: auto;
}


/*---- RESPONSIVE STUFF ----*/

@media (max-width: 74em){
	
	.image_shopgd{
		width: 80%;
	}
	

}

@media (max-width: 66em){
	.shopbannertext{
		transform: translate(0%, -350%);
	}

	
}

@media (max-width: 50em){
	.shopbannertext{
		transform: translate(0%, -300%);
	}


	.image_shopgd{
		width: 50%;
		height: auto;
	}
	
}

@media (max-width: 53em){
	.shop_all_grid_r1, .shop_all_grid_r2, .shop_all_grid_r3{
		flex-direction: column;
		flex: 3 1 33%;
		margin-right: 0.5em;
		text-align: center;
	}

}

@media (max-width: 42em) {
	.shopbannertext{
		transform: translate(0%, -275%);
	}
}

@media (max-width: 36em) {
	.shopbannertext{
		transform: translate(0%, -250%);
	}

	.image_shopgd{
	margin-left: -2.8em;
	width: 250px;
	height: auto;
	}
}