h4{
	font-family: Arial, sans-serif;
	font-weight: bold;
}

img{
	max-width: 100%;
}


.image{
	padding: 0em;
	background-color: white;
	text-align: center;
}



.shop_all_banner{
	/*padding: 4.5em;*/
	text-align: center;
	font-weight: bold;
	/*background-color: orange;*/
}

.shopbannertext{
	transform: translate(0%, -630%);
}

#shopbanner{
	width: 1920px;
}


.shop_all_grid{
	display: flex;
	flex-direction: column;
}

.shop_all_grid_r1{
	flex: 3 1 100%;
	/*background-color: gray;*/
	display: flex;
	flex-direction: row;
	padding: 1em;
	margin: 0em 3.5em 0em 3.5em;
}


.shop_all_grid_r2{
	flex: 3 1 100%;
	/*background-color: green;*/
	display: flex;
	flex-direction: row;
	padding: 1em;
	margin: 0em 3.5em 0em 3.5em;
}

.shop_all_grid_r3{
	flex: 3 1 100%;
	/*background-color: brown;*/
	display: flex;
	flex-direction: row;
	padding: 1em;
	margin: 0em 3.5em 0em 3.5em;
}


#r1c1{
	/*background-color: pink;*/
	flex: 3 1 33.3%;
	padding: 1em;
	margin: 0em 2em 0em 2em;
	text-align: center;
}

#r1c2{
	/*background-color: orange;*/
	flex: 3 1 33.3%;
	padding: 1em;
	margin: 0em 2em 0em 2em;
	text-align: center;
}

#r1c3{
	/*background-color: purple;*/
	flex: 3 1 33.3%;
	padding: 1em;
	margin: 0em 2em 0em 2em;
	text-align: center;
}

#r2c1{
	/*background-color: orange;*/
	flex: 3 1 33.3%;
	padding: 1em;
	margin: 0em 2em 0em 2em;
	text-align: center;
}

#r2c2{
	/*background-color: purple;*/
	flex: 3 1 33.3%;
	padding: 1em;
	margin: 0em 2em 0em 2em;
	text-align: center;
}

#r2c3{
	/*background-color: pink;*/
	flex: 3 1 33.3%;
	padding: 1em;
	margin: 0em 2em 0em 2em;
	text-align: center;
}

#r3c1{
	/*background-color: purple;*/
	flex: 3 1 33.3%;
	padding: 1em;
	margin: 0em 2em 0em 2em;
	text-align: center;
}

#r3c2{
	/*background-color: pink;*/
	flex: 3 1 33.3%;
	padding: 1em;
	margin: 0em 2em 0em 2em;
	text-align: center;
}

#r3c3{
	/*background-color: orange;*/
	flex: 3 1 33.3%;
	padding: 1em;
	margin: 0em 2em 0em 2em;
	text-align: center;
}

.image_shopgd{
	width: 360px;
	height: auto;
}


/*---- RESPONSIVE STUFF ----*/

@media (max-width: 1440px){
	.shopbannertext{
		transform: translate(0%, -500%);
	}

	.image_shopgd{
		width: 100%;
	}
}

@media (max-width: 1024px){
	.shopbannertext{
		transform: translate(0%, -370%);
	}

	.image_shopgd{
		width: 100%;
		height: auto;
		margin-top: -2em;
	}
}

@media (max-width: 53em){
	.shop_all_grid_r1, .shop_all_grid_r2, .shop_all_grid_r3{
		flex-direction: column;
		flex: 1 1 100%;
		text-align: center;
	}

}

@media(max-width: 768px){
	.shopbannertext{
		transform: translate(0%, -320%);
	}

	.image_shopgd{
		width: 70%;
	}
}


@media(max-width: 425px){
	.shopbannertext{
		transform: translate(0%, -235%);
	}

	.image_shopgd{
		width: 100%;
	}

	#r1c1{
		/*background-color: pink;*/
		padding: 0em;
		margin: 0em 0em 2em 0em;
		text-align: center;
	}

	#r1c2{
		/*background-color: orange;*/
		padding: 0em;
		margin: 0em 0em 2em 0em;
		text-align: center;
	}

	#r1c3{
		/*background-color: purple;*/
		padding: 0em;
		margin: 0em 0em 2em 0em;
		text-align: center;
	}

	#r2c1{
		/*background-color: orange;*/
		padding: 0em;
		margin: 0em 0em 2em 0em;
		text-align: center;
	}

	#r2c2{
		/*background-color: purple;*/
		padding: 0em;
		margin: 0em 0em 2em 0em;
		text-align: center;
	}

	#r2c3{
		/*background-color: pink;*/
		padding: 0em;
		margin: 0em 0em 2em 0em;
		text-align: center;
	}

	#r3c1{
		/*background-color: purple;*/
		padding: 0em;
		margin: 0em 0em 2em 0em;
		text-align: center;
	}

	#r3c2{
		/*background-color: pink;*/
		padding: 0em;
		margin: 0em 0em 2em 0em;
		text-align: center;
	}

	#r3c3{
		/*background-color: orange;*/
		padding: 0em;
		margin: 0em 0em 2em 0em;
		text-align: center;
	}
}

@media(max-width: 375px){
	.shopbannertext{
		transform: translate(0%, -220%);
	}
}

@media (max-width: 320px) {
	.shopbannertext{
		transform: translate(0%, -210%);
	}

	.image_shopgd{
		width: 100%;
	}

}