.product-box{
	display: flex;
	flex-direction: row;
}

#product_image{
	/*background-color: orange;*/
	flex: 2 1 60%;
	margin: 3em;
	padding: 0em 0em 0em 0em;
	justify-content: center;
	text-align: center;
}

#product_info{
	/*background-color: yellow;*/
	flex: 2 1 40%;
	margin: 2em;
	padding-right: 5em;
	justify-content: center;
}

.product_review_grid{
	flex-direction: column;
}


#product_reviews{
	flex: 1 1 auto;
	/*background-color: red;*/
	text-align: center;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.product_r1, .product_r4{
	display: flex;
	/*background-color: purple;*/
	border-bottom: 1px solid black;
}

.product_r2{
	display: flex;
}

.star{
	flex: 2 1 10%;
	/*background-color: orange;*/
	margin: 1em 7em;
	text-align: center;
}

.reviewer{
	flex: 2 1 90%;
	/*border: 3px solid yellow;*/
	margin-right: 5em;
}

#product_r_more{
	flex: 1 1 auto;
	/*background-color: blue;*/
	text-align: center;
	border-top: 1px solid black;
}

#link{
	text-decoration: none;
	color: black;
}

#link:hover, #link:active{
	transition: 0.2s;
	color: rgb(236, 190, 189);
}


/*---- REVIEW PAGE --*/

.product_r3{
	display: flex;
	/*background-color: purple;*/
	border-bottom: 1px solid black;
	border-top: 1px solid black;
}



/*---- RESPONSIVE STUFF ----*/

@media (max-width: 50em) {
	.product-box{
		flex-direction: column;
	}

	#product_info{
		margin-left: 7.5em;
	}

	#single_product_addcart_button{
		margin-top: 1em;
		margin-left: 4em;
	}

	.reviewer{
		margin-left: 5em;
	}

}