h5{
  font-family: Arial, sans-serif;
  font-weight: bolder;
}

ul{
	padding: 0;
	margin-left: 1em;
}

.product-box{
	display: flex;
	flex-direction: row;
}

#product_image{
	/*background-color: orange;*/
	flex: 2 1 60%;
	margin-top: 3em;
	padding: 0em 0em 0em 0em;
	justify-content: center;
	text-align: center;
}

img{
	max-width: 100%;
	height: auto;
}

#product_info{
	/*background-color: yellow;*/
	flex: 2 1 40%;
	margin: 2em;
	padding-right: 5em;
	justify-content: center;
}

.product_review_grid{
	flex-direction: column;
}


#product_reviews{
	flex: 1 1 auto;
	/*background-color: red;*/
	text-align: center;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.product_r1, .product_r4{
	display: flex;
	/*background-color: purple;*/
	border-bottom: 1px solid black;
}

.product_r2{
	display: flex;
}

.star{
	flex: 2 1 10%;
	/*background-color: orange;*/
	margin: 1em 10em;
	text-align: center;
}

.reviewer{
	flex: 2 1 90%;
	/*border: 3px solid yellow;*/
	margin-right: 7.25em;
	padding-bottom: .8em;
}

#product_r_more{
	flex: 1 1 auto;
	/*background-color: blue;*/
	text-align: center;
	border-top: 1px solid black;
}

#link{
	text-decoration: none;
	color: black;
}

#link:hover, #link:active{
	transition: 0.2s;
	color: rgb(236, 190, 189);
}

#single_product_addcart_button{
	width: 26em;
	text-align: center;
}


/*---- REVIEW PAGE --*/

.product_r3{
	display: flex;
	/*background-color: purple;*/
	border-bottom: 1px solid black;
	border-top: 1px solid black;
}

/*----------------------------------------------------------------------*/

.review_new{
	border-top: 1px solid black;
	display: flex;
	padding-top: 2em;
}

#star_blank{
	flex: 2 1 10%;
	/*background-color: orange;*/
	margin: 1em 9.75em;
	text-align: center;
}

.review_form_fields{
	flex: 2 1 95%;
	flex-direction: row;
	/*background-color: red;*/
	display: flex;
	display: block;
}

.first_name{
	padding: 1em 0em;
	flex: 2 1 50%;
	/*background-color: yellow;*/
	width: 30%;
	display: flex;
}

.last_name{
	padding: 1em 0em;
	flex: 2 1 50%;
	/*background-color: orange;*/
	width: 30%;
	display: flex;
}

.form_review{
	padding: 1em 0em;
	flex: 1 1 100%;
	/*background-color: blue;*/
	width: 30%;
	display: flex;
}

#submit_button{
	margin-top: 1em;
	margin-bottom: 3em;
}



/*---- RESPONSIVE STUFF ----*/

@media (max-width: 50em) {
	.product-box{
		flex-direction: column;
	}

	#product_info{
		margin-left: 7.5em;
	}

	#single_product_addcart_button{
		margin-top: 1em;
		margin-left: 4em;
	}

	.reviewer{
		margin-left: 5em;
	}

	


}

@media (max-width: 65em) {
	#single_product_addcart_button{
		margin-top: 3em;
	}
}

@media (max-width: 50em) {
	#single_product_addcart_button{
		margin-left: 10em;
	}
}

@media (max-width: 47em) {
	#single_product_addcart_button{
		margin-top: 3.25em;
		margin-left: 8em;
	}
}

@media (max-width: 42em) {
	#single_product_addcart_button{
		margin-top: 3em;
		margin-left: 7.5em;
	}
}

@media (max-width: 42em) {
	#single_product_addcart_button{
		margin-top: 3em;
		margin-left: 6em;
	}
}

@media (max-width: 35em) {
	#single_product_addcart_button{
		margin-top: 3.75em;
		margin-left: 3em;
	}
}

@media (max-width: 34em) {
	#single_product_addcart_button{
		margin-top: 5em;
		margin-left: 2.75em;
	}
}

@media (max-width: 32.5em) {
	#single_product_addcart_button{
		margin-top: 5em;
		margin-left: 1em;
	}
}


@media (max-width: 65em){
	.product_r1{
		display: flex;
		flex-direction: column;
	}

	.star{
		flex: 1 1 100%;
	}

	.reviewer{
		flex: 1 1 100%;
		margin-left: 6.5em;
		margin-bottom: 1em;
	}

	.product_r2{
		display: flex;
		flex-direction: column;
	}

	#submit_button{
		margin-top: 2.5em;
		margin-left: -1.25em;
	}

}

@media (max-width: 54em){
	#submit_button{
		margin-top: 3.75em;
	}
}


@media (max-width: 50em){
	.review_new{
		display: flex;
		flex-direction: column;
	}

	#star_blank{
		flex: 1 1 100%;
	}

	.review_form_fields{
		flex: 1 1 100%;
		margin-left: 18.5em;
	}

	#submit_button{
		margin-top: 3.5em;
		margin-left: -1em;
	}

}

@media (max-width: 47em){
	.review_new{
		display: flex;
		flex-direction: column;
	}

	#star_blank{
		flex: 1 1 100%;
	}

	.review_form_fields{
		flex: 1 1 100%;
		margin-left: 15em;
	}

	#submit_button{
		margin-top: 3.5em;
		margin-left:-1.5em;
	}

}

@media (max-width: 44em){
	.review_new{
		display: flex;
		flex-direction: column;
	}

	#star_blank{
		flex: 1 1 100%;
	}

	.review_form_fields{
		flex: 1 1 100%;
		margin-left: 13em;
	}

	#submit_button{
		margin-top: 3.5em;
		margin-left: -1.5em;
	}

}

@media (max-width: 40em){
	.review_new{
		display: flex;
		flex-direction: column;
	}

	#star_blank{
		flex: 1 1 100%;
	}

	.review_form_fields{
		flex: 1 1 100%;
		margin-left: 10em;
	}

}


@media (max-width: 35em){
	#submit_button{
		margin-top: 3.25em;
		margin-left: -1.5em;
	}
}

@media(max-width: 34em) {
	#submit_button{
		margin-top: 5em;
		margin-left: -2em;
	}

    .review_form_fields{
		margin-left: 7em;
	}
}