


/* Styling for navigation bar */
.nav-main-item{
  display:inline-block;
  color: black;
  font-size: 1.2rem;
  text-decoration: none;
  margin: 1em;
  font-weight: bold;
}

.nav-main-item:hover, .nav-main-item:active, .nav-main-item:focus{
  text-decoration: none;
}

nav{
  padding-left: 1.7em;
}

.nav-main{
	display: flex;
  	flex-wrap: wrap;
  	flex-direction: row;
}


/* Styling for ALL navigation buttons on style guide */
  .button-nav, .nav-main-item, .button-main-nav{
    text-decoration: none;
    position: relative;
    color: black;
    font-weight: bold;
  }

  .button-nav:after, .nav-main-item:after, .button-main-nav:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    border-bottom: 2.5px solid rgb(236, 190, 189);
    transition: 0.2s;
  }

  /*Styling for product image and info*/
  #product_image{
	width: 100%;
	height: auto;
  }

  img{
  	max-width: 100%;
  }

 #product_info{
 	margin-left: -10em;
 }
 
/* Responsive Section */
  @media (max-width: 1440px) {
  	#product_image{
	width: 150%;
	height: auto;
  	}

	img{
	  max-width: 100%;
	}
  }

  @media (max-width: 1024px) {
  	#product_image{
	width: 400%;
	height: auto;
  }

   img{
	  max-width: 100%;
    }


	 #product_info{
	 	margin-left: -10em;
	 }

	 #add_button{
	 	margin-left: -1.7em;
	 	margin-top: 2em;
	 }
  }

 @media (max-width: 768px) {
  	#product_image{
	width: 100%;
	height: auto;
  }

   img{
	  max-width: 100%;
    }


	 #product_info{
	 	margin-left: 0em;
	 }

	 #add_button{
	 	margin-left: -1.3em;
	 	margin-top: 3em;
	 }
  }

  @media (max-width: 425px) {
  	h1{
	text-align: center;
	margin-right: 1.5em;
	}

	.nav-main{
	  	margin-left: -0.5em;
	}

	#add_button{
	 	margin-left: -2em;
	 	margin-top: 3em;
	 }

	 #style_button, #reset_button{
	 	margin-left: 0em;
	 }

	 #rendered-element{
	 	margin-bottom: 1.5em;
	 }
  }

  @media (max-width: 375px) {
	h1{
	text-align: center;
	}

	.nav-main{
		display: flex;
	  	flex-wrap: wrap;
	  	flex-direction: column;
	  	margin-left: -1.5em;
	}
	
	.nav-main-item{
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 100%;
	text-align: center;
	}
	
  }
    
    @media (max-width: 320px) {
 	#add_button{
	 	margin-left: -2em;
	 	margin-top: 3em;
	 }
 }